.accordion {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.accordion .accordion-header {
    background-color: #c1c1c1;
    border-radius: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion .accordion-content {
    background-color: #eee;
    padding: 8px;
}