.ui-alert {
    background-color: #F2DEDE;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.ui-alert-title {
    color: #AF4341;
    font-weight: bold;
    font-size: 16px;
}

.ui-alert-body {
    color: #AF4341;
    
}